/* Links dos cards */
.card{
    text-decoration: none;
    color: inherit;
}

/* Remove o azul dos links */
.card:visited{
    color: inherit;
}

.card:hover{
    color: inherit;
}
body.pagina-interna header{
    background: #000;
}

.banner-aulas{
    text-align:center;
    padding:140px 20px 70px;
}

.banner-aulas h1{
    font-size:52px;
    color:#ff7a00;
}

.banner-aulas p{
    color:#ddd;
    margin-top:15px;
}

.aulas{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:45px;
    padding-bottom:80px;
}
.aula-card{
    display:flex;
    background:#1f1f1f;
    border-radius:20px;
    overflow:hidden;
    margin:40px 0;

    
}
.aula-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px rgba(255,122,0,.35);
}

.aula-card img{
    width:100%;
    height: 380px;;
    object-fit:cover;
    object-position:center top;
}

.aula-foto{
    width:45%;
}

.aula-foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.tag{
    position:absolute;
    top:20px;
    right:20px;
    background:#ff7a00;
    color:#fff;
    padding:8px 18px;
    border-radius:30px;
    font-size:13px;
    font-weight:bold;
}

.aula-card h2{
    padding:25px 30px 10px;
    color:#ff7a00;
}

.categoria{
    padding:0 30px;
    color:#fff;
    font-weight:600;
}

.aula-card h3{
    padding:25px 30px 10px;
    color:#fff;
}

.aula-card ul{
    padding:0 50px;
    color:#ddd;
}

.aula-card li{
    margin:12px 0;
}

.aula-card p{
    padding:0 30px 20px;
}

.btn-aula{
    display:inline-block;
    margin:25px 30px 35px;
    padding:14px 28px;
    background:#ff7a00;
    color:#fff;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.btn-aula:hover{
    background:#ff9100;
}


/*               MOBILE                 */

@media (max-width:768px){

    .aula-card{
        flex-direction:column;
        width:95%;
        margin:25px auto;
        border-radius:18px;
    }

    .aula-foto,
    .aula-conteudo{
        width:100%;
    }

    .aula-card img{
        width:100%;
        height:350px;
        object-fit:cover;
        object-position:center top;
    }

    .banner-aulas h1{
        font-size:38px;
    }

    .tag{
        top:15px;
        right:15px;
        font-size:11px;
        padding:6px 12px;
    }

    .aula-card h2{
        font-size:28px;
        padding:20px 20px 10px;
    }

    .categoria{
        padding:0 20px;
        font-size:18px;
    }

    .aula-card h3{
        padding:20px 20px 10px;
    }

    .aula-card p,
    .aula-card ul{
        padding:0 20px;
    }

    .aula-card li{
        margin:10px 0;
        font-size:16px;
    }

    .btn-aula{
        width:calc(100% - 40px);
        margin:25px 20px;
        text-align:center;
    }

}
/* ===================== */
/* EQUIPAMENTOS */
/* ===================== */

.categoria-equipamentos{

    width:90%;
    max-width:1200px;

    margin:70px auto;

}

.categoria-equipamentos h2{

    color:#ff7a00;

    font-size:36px;

    margin-bottom:15px;

}

.categoria-equipamentos p{

    color:#ddd;

    font-size:18px;

    margin-bottom:35px;

    line-height:1.8;

}

.galeria-equipamentos{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:25px;

}

.galeria-equipamentos img{

    width:100%;

    height:260px;

    object-fit:cover;

    border-radius:18px;

    transition:.35s;

    cursor:pointer;

}

.galeria-equipamentos img:hover{

    transform:scale(1.04);

    box-shadow:0 0 30px rgba(255,122,0,.35);

}